@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome @User.Identity.Name!</h2>

<h3>My Upcoming Classes</h3>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="Instances" asp-action="Create">Add Class</a>
    </p>
}
@if (ViewBag.numFutureInstances == 0)
{
    <p>
        You have no upcoming classes.
    </p>
}
<div class="classes">
    @foreach (Instance item in Model.FutureInstances)
    {
        String month = item.StartDate.ToString("MMMM");
        String time = item.StartDate.ToString("h:mm tt");
        <div class="class">
            <div class="class-left">
                @Html.DisplayFor(modelItem => item.StartDate.DayOfWeek)<br />
                <span>@Html.DisplayFor(modelItem => item.StartDate.Day)</span><br />
                @month
            </div>
            <div class="class-right">
                @Html.DisplayFor(modelItem => item.Course.Name)<br />
                <span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(modelItem => item.Location.Name)<br />
                <span class="glyphicon glyphicon-time"></span> @time
                <span class="links">
                    <a asp-controller="Enrollments" asp-action="Create" asp-route-id="@item.InstanceId">Add Student</a> |
                    <a asp-controller="Enrollments" asp-action="Roster" asp-route-id="@item.InstanceId">Roster</a>
                </span>
            </div>
        </div>
    }
</div>

<h3>Classes to Grade</h3>

<div class="togrades">
    @foreach (Instance item in Model.GradeInstances)
    {
        String month = item.StartDate.ToString("MMMM");
        String time = item.StartDate.ToString("h:mm tt");
        TimeSpan span = DateTimeOffset.Now.Subtract(item.StartDate);
        <a asp-controller="Instances" asp-action="Grade" asp-route-id="@item.InstanceId">
            <div class="tograde">
                <div class="tograde-left">
                    <span>@span.Days</span><br />
                    Days Late
                </div>
                <div class="tograde-right">
                    @Html.DisplayFor(modelItem => item.Course.Name)<br />
                    @month @Html.DisplayFor(modelItem => item.StartDate.Day)
                </div>
            </div>
        </a>
    }
</div>