@model IEnumerable<KSS.Areas.Admin.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h2>Enrollments</h2>

<p>
    <a asp-action="Create">New Enrollment</a>
</p>

<h4>All Enrollments</h4>

<div class="main-col">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Instance)
                </th>
                <th>
                    Student
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instance.Course.Name) in @Html.DisplayFor(modelItem => item.Instance.Location.City) on @Html.DisplayFor(modelItem => item.Instance.StartDate.LocalDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                        <button type="button" class="btn btn-sm btn-default" onclick="getDetails(@item.EnrollmentId)">Details</button> |
                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteItem(@item.EnrollmentId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 </div>

<aside class="help">
    <div class="tooltipContainer2">
        <div class="tooltips-top">
            <h4>Help</h4>
        </div>
        <div class="tooltips-bottom">
            <p style="background:rgba(168, 57, 57, 0.2); font-weight:600;">
                Page lists all enrollments in the system.
            </p>
            <h4>New Enrollment</h4>
            <p>
                Add student to a class manually.
            </p>
            <h4>Details</h4>
            <p>
                View more information about existing enrollment.
            </p>
            <h4>Edit</h4>
            <p>
                Move student to another class.
            </p>
        </div>
    </div>
</aside>

<!--Makes Modal-->
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Enrollment Details</h3>
            </div>
            <div class="modal-body">
                <h4 id="instance"></h4>
                <h4 id="fullName"></h4>
                <h4 id="status"></h4>
                <h4 id="bookBought"></h4>
                <h4 id="paid"></h4>
                <h4 id="confirmed"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Are You Sure You Want to Delete this Enrollment</h3>
            </div>
            <div class="modal-body">
                <h4 id="instance2"></h4>
                <h4 id="fullName2"></h4>
                <h4 id="status2"></h4>
                <h4 id="bookBought2"></h4>
                <h4 id="paid2"></h4>
                <h4 id="confirmed2"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getDetails(id) {
        $.ajax({
            url: '@Url.Action("Details", "Enrollments")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { id: id },
            success: function (data) {
                if (data.success) {
                    $("#instance").text("Instance : " + data.instance);
                    $("#fullName").text("Name : " + data.fullName);
                    $("#status").text("Status : " + data.status);
                    $("#bookBought").text(data.bookBought);
                    $("#paid").text(data.paid);
                    $("#confirmed").text("Date Confirmed : " + data.confirmed);
                    $("#detailsModal").modal("show");
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    var deleteId;

    function deleteItem(id) {
        deleteId = null;
        $.ajax({
            url: '@Url.Action("Details", "Enrollments")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { id: id },
            success: function (data) {
                if (data.success) {
                    $("#instance2").text("Instance : " + data.instance);
                    $("#fullName2").text("Name : " + data.fullName);
                    $("#status2").text("Status : " + data.status);
                    $("#bookBought2").text(data.bookBought);
                    $("#paid2").text(data.paid);
                    $("#confirmed2").text("Date Confirmed : " + data.confirmed);
                    deleteId = data.enrollmentId;
                    $("#deleteModal").modal("show");
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function confirmDelete() {
        $.ajax({
            url: '@Url.Action("DeleteConfirmed", "Enrollments")',
            dataType: "json",
            type: "DELETE",
            cache: false,
            data: { id: deleteId },
            success: function (data) {
                if (data.success) {
                    if (!data.canDelete) {
                        alert(data.removed);
                        location.reload();
                    }
                    else {
                        alert(data.removed).delay(800);
                        location.reload();
                    }
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>