@model IEnumerable<KSS.Areas.Admin.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h2>All Enrollments</h2>
<!--Makes Modal-->
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Enrollment Details</h3>
            </div>
            <div class="modal-body">
                <h4 id="instance"></h4>
                <h4 id="fullName"></h4>
                <h4 id="status"></h4>
                <h4 id="bookBought"></h4>
                <h4 id="paid"></h4>
                <h4 id="confirmed"></h4> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<p>
    <a asp-action="Create">New Enrollment</a>
</p>
<!--Beginning of the Containers-->
<div class="main-col">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Instance)
                </th>
                <th>
                    Student
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookBought)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmed)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr onMouseOver="this.style.cursor='pointer'" onclick="getDetails(@item.EnrollmentId)">
                <td>
                    @Html.DisplayFor(modelItem => item.Instance.Course.Name) in @Html.DisplayFor(modelItem => item.Instance.Location.City) on @Html.DisplayFor(modelItem => item.Instance.StartDate.LocalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookBought)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmed)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <script>
        function getDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Enrollments")',
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        $("#instance").text("Instance : " + data.instance);
                        $("#fullName").text("Name : " + data.fullName);
                        $("#status").text("Status : " + data.status);
                        $("#bookBought").text(data.bookBought);
                        $("#paid").text(data.paid);
                        $("#confirmed").text("Date Confirmed : " + data.confirmed);
                        $("#detailsModal").modal("show");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });

        }
    </script>
</div>
<aside class="help">
    <div class="tooltipContainer2">
        <div class="tooltips-top">
            <h4>Help</h4>
        </div>
        <div class="tooltips-bottom">
            <p style="background:rgba(168, 57, 57, 0.2); font-weight:600;">
                Page lists all enrollments in the system.
            </p>
            <h4>New Enrollment</h4>
            <p>
                To add student to a class manually.
            </p>
            <h4>Highlighted Row</h4>
            <p>
                Click highlighted row to view enrollment details.
            </p>
            <h4>Edit</h4>
            <p>
                Edit allows you to move student to another class.
            </p>
        </div>
    </div>
</aside>

