@model IEnumerable<KSS.Areas.Admin.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>All Locations</h2>
<!--Make Modals-->
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Street Address</h3>
            </div>
            <div class="modal-body">
                <h4 id="addressStreet"></h4>
                <h4 id="addressCityState"></h4>
                <h4 id="addressZipCode"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Start of Container Grid-->
<div class="grid-container">
    <div class="contentContainer">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr onMouseOver="this.style.cursor='pointer'" onclick="getDetails(@item.LocationId)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <script>
    function getDetails(id) {
        $.ajax({
            url: '@Url.Action("Details", "Locations")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { id: id },
            success: function (data) {
                if (data.success) {
                    $("#addressStreet").text(data.addressStreet);
                    $("#addressCityState").text(data.addressCityState);
                    $("#addressZipCode").text(data.addressZipCode);
                    $("#detailsModal").modal("show");
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

    }
        </script>
    </div>
    <div class="tooltipContainer">
        <p class="tooltips">
            <big><big><strong>Locations:</strong></big></big><br />
            Use this page to manage frequently visited locations to avoid repeatedly retyping the same addresses.
        </p>
    </div>
</div>

