@model KSS.Areas.Admin.Models.Instance

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Graded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ClassList">Back</a>
</div>
