@model List<KSS.Areas.Admin.Models.Enrollment>

@{
    ViewData["Title"] = "Grade";
}

<h2>Instructor Grade Page</h2>
<hr />
<h4>@ViewData["class"]</h4>
@ViewData["location"]<br />
@ViewData["date"]<br />
<hr />
<div class="main-col">
    <h4>Students</h4>
    <form asp-area="Admin" asp-controller="Instances" asp-action="Grade" method="post">
        <input name="instanceId" type="hidden" value="@ViewData["instance"]" />
        @for (int i = 0; i < Model.Count; i++)
        {
        <label class="switchContainer">
            <input type="checkbox" name="studentsPassed" id="studentsPassed" value="@Model[i].User.UserId" checked>
            <span class="switch">
                @Model[i].User.FirstName <br />
                @Model[i].User.LastName
            </span>
        </label>
        }
        <hr />
        <button type="submit" class="btn btn-info">Submit Grades</button>
    </form>
</div>

<!-- HELP BOX  -->
<aside class="help">
    <div class="tooltipContainer2">
        <div class="tooltips-top">
            <h4>Help</h4>
        </div>
        <div class="tooltips-bottom">
            <p class="pageDesc">
                Page lets instructor submit pass / fail grades.
            </p>
            <p>
                Click or touch student's name to toggle pass or fail.
            </p>
            <h4 style="background-color:lightgreen;">Student Name</h4>
            <p>
                Green is for pass.
            </p>
            <h4 style="background-color:#ff7070;">Student Name</h4>
            <p>
                Red is for fail.
            </p>
        </div>
    </div>
</aside>

@* // leaving modal for later use...
    <div id="detailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Class Details</h3>
                </div>
                <div class="modal-body">
                    <h3 id="course"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getDetails(id) {


            $.ajax({
                url: '@Url.Action("ClassDetail", "Instances")',
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        $("#course").text(data.course);
                        $("#detailsModal").modal("show");
                    }
                },
                error: function (xhr) {
                    alert("failed");
                }
            });
        }
    </script>*@