@model IEnumerable<KSS.Areas.Admin.Models.Enrollment>

@{
    ViewData["Title"] = "Grade";
}

<h3>Submit Grades</h3>

<h4>Confirm class details below</h4>

Course: @ViewData["class"]<br />
Location: @ViewData["location"]<br />
Date: @ViewData["date"]

<h4>Students</h4>
@using (Html.BeginForm("Grade", "Instances", FormMethod.Post))
{
    <input name="instanceId" type="hidden" value="@ViewData["instance"]" />
@foreach (var item in Model)
{
    <label class="switchContainer">
        <input type="checkbox" name="studentsPassed" id="studentsPassed" value="@item.User.UserId" checked>
        <span class="switch">
            @Html.DisplayFor(modelItem => item.User.FirstName) <br />
            @Html.DisplayFor(modelItem => item.User.LastName)
        </span>
    </label>
}
<br />
<button type="submit" class="btn btn-info">Grade</button>
}

@* // leaving modal for later use...
    <div id="detailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Class Details</h3>
                </div>
                <div class="modal-body">
                    <h3 id="course"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getDetails(id) {


            $.ajax({
                url: '@Url.Action("ClassDetail", "Instances")',
                dataType: "json",
                type: "POST",
                cache: false,
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        $("#course").text(data.course);
                        $("#detailsModal").modal("show");
                    }
                },
                error: function (xhr) {
                    alert("failed");
                }
            });
        }
    </script>*@