@model KSS.Models.Instance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Street)
            @Html.DisplayFor(model => model.Location.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
