@model IEnumerable<KSS.Areas.Admin.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CourseList">View As Instructor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypicalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prereq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypicalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prereq.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCategory.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
