@model IEnumerable<KSS.Areas.Admin.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h2>All Staff Bios</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
